.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cityInput {
    border-radius: 0.5rem;
    height: 2rem;
    width: 10rem;
    padding: 0 0.5rem;
    font-size: 1rem;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}