.weatherBox{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: aqua;
}

h2, p {
    margin: 0;
}